h1{
font-size:50px;
color: #c19a6b;
text-align: center;
}
BODY {background-color: #c19a6b; margin: 0% 33% 0% 33% }




<script>
var t;
function up() {
	var top = Math.max(document.body.scrollTop,document.documentElement.scrollTop);
	if (top > 0) {
		window.scrollBy(0, -100);
		t = setTimeout('up()',60);
	} else clearTimeout(t);
	return false;
}
</script>
